<div class="main container">
    <div class="row py-2">
        <div class="col-md-12">
            <div class="card" >
                <div class="card-header">
                    <h2>Create a Database Entry for a new Thing or add Sensor (types)/Datastreams to an existing Thing</h2>
                </div>
                <div class="card-body">

                    <h3>Thing</h3>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-primary btn-sm btn-add-entity m-0" data-toggle="modal" data-target="#newThing"><i class="fa fa-cube"></i> Create a new Thing <span class="fa"></span></button>
                        </div>
                        <span class="input-group-text mx-5">or</span>
                        <select class="custom-select" id="thing-select" ng-model="newThing" ng-options="x.name for x in thingsList track by x['@iot.id']" ng-change="getSensorsofThing(newThing['@iot.id']);getDatastreamsofThing(newThing['@iot.id'])">
                            <option value="" disabled selected>select an existing Thing</option>
                        </select>
                    </div>


                    to add Sensor (types) and/or Datastreams to.

                    <div class="row">
                        <div class="col">
                            <h4>
                                <div class="badge badge-success" style="float: right">
                                    ID: {{ newThing['@iot.id'] }}
                                </div>
                            </h4>
                        </div>
                    </div>

                    <!-- Create Thing Modal -->
                    <div class="modal fade" id="newThing" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header p-3 mb-2 bg-primary text-white">
                                    <!-- <button type="button" class="close" data-dismiss="modal">*</button> -->
                                    <h2 class="modal-title"><i class="fa fa-cube"></i>NEW DEVICE</h2>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h3 class="modal-title">Thing</h3>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Name: </span>
                                            <input class="form-control" type="text" placeholder="Example: Crowdsensing Node (SDS011, 180232)" ng-model="newThing.name" aria-describedby="thingnamehelpblock" />
                                            <small id="thingnamehelpblock" class="form-text text-muted">Human readable name of the thing. </small>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Description: </span>
                                            <input class="form-control" type="text" placeholder="Example: Low Cost Node Measuring Particulate Matter" ng-model="newThing.description" aria-describedby="thingdescriptionhelpblock"/>
                                            <small id="thingdescriptionhelpblock" class="form-text text-muted">Human readable description of the thing. </small>
                                        </div>
                                        <h5 class="modal-title">Properties: </h5>
                                        <div class="indent-inputlines">
                                            <div class="form-group">
                                                <label for="deviceidInput">Device ID: </label>
                                                <input class="form-control" id="deviceidInput" type="text" onkeyup="this.value = this.value.toLowerCase().replace(/ /g, '_');" placeholder="Example: 180232" ng-model="newThing.properties['device_id']" aria-describedby="thingpropertiesdeviceidhelpblock">
                                                <small id="thingpropertiesdeviceidhelpblock" class="form-text text-muted">Some Identifier of the Thing. <span class="text-warning">Necessary for ID generation. Only Lowercase Letters. </span></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="devicenameInput">Device Name: </label>
                                                <input class="form-control" id="devicenameInput" type="text" onkeyup="this.value = this.value.toLowerCase().replace(/ /g, '_');" placeholder="Example: crowdsensor" ng-model="newThing.properties['device_name']" aria-describedby="thingpropertiesdevicenamehelpblock"> 
                                                <small id="thingpropertiesdevicenamehelpblock" class="form-text text-muted">Short Name of the Thing. <span class="text-warning">Necessary for ID generation. Only Lowercase Letters. </span></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="operatorurlInput">Device Operator URL: </label>
                                                <input class="form-control" id="operatorurlInput" type="text" onkeyup="this.value = this.value.toLowerCase().replace(/ /g, '_');" placeholder="Example: teco.edu" ng-model="newThing.properties['operator_url']" aria-describedby="thingpropertiesoperatorurlhelpblock">
                                                <small id="thingpropertiesoperatorurlhelpblock" class="form-text text-muted">Operator URL of the Thing. <span class="text-warning">Necessary for ID generation. Only Lowercase Letters. </span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-default" ng-click="pushToServer(newThing)" value="Push to Server" />
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal end -->
                
                    <hr>

                    <h3>Sensor (types)</h3> <!-- make angular display this only when a thing is chosen, otherwise a message that no thing was chosen-->
                    <div ng-if="newThing">
                        <h5 class="ml-3">Add a Sensor (type) to the Thing</h5>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <button type="button" class="btn btn-primary btn-sm btn-add-entity m-0" data-toggle="modal" data-target="#newSensor"><i class="fa fa-plus"></i> Create a new Sensor (type)<span class="fa"></span></button>
                            </div>
                            <span class="input-group-text mx-5">or</span>
                            <select class="custom-select" id="sensor-select" ng-model="newSensor" ng-init="newSensor = undefined" ng-options="x.name for x in sensorsList track by x['@iot.id']">
                                <option value="" selected>select an existing Sensor (type)</option>
                            </select>
                        </div>

                        <div ng-if="newSensor">
                            <table class="table table-bordered table-hover st-table table-striped table-sm">
                                <thead class="st-thead">
                                <tr>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th style="text-align: center; width:66px">Add</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td ng-click="sensorClicked(x['@iot.id'])">{{newSensor["name"]}}</td>
                                    <td ng-click="sensorClicked(x['@iot.id'])">{{newSensor["@iot.id"]}}</td>
                                    <td style="text-align: center;"><button type="button" class="btn btn-primary btn-sm m-0" ng-click="addSensortoThing(newSensor)" ng-disabled="originalSensorList.includes(newSensor)"><i class="fa fa-plus"></i><span class="fa"></span></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <h5 class="ml-3">Sensor (types) attached to the Thing</h5>

                        <div>
                            <table class="table table-bordered table-hover st-table table-striped table-sm">
                                <thead class="st-thead">
                                <tr>
                                    <th>Name</th>
                                    <th>ID</th>
                                    <th style="text-align: center; width:66px">Remove</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="x in thisThingsSensorList">
                                    <td ng-click="sensorClicked(x['@iot.id'])">{{x["name"]}}</td>
                                    <td ng-click="sensorClicked(x['@iot.id'])">{{x["@iot.id"]}}</td>
                                    <td style="text-align: center;"><button type="button" class="btn btn-primary btn-sm m-0" ng-click="removeSensorfromThing(x)" ng-disabled="originalSensorList.includes(x)"><i class="fa fa-minus"></i> <span class="fa"></span></button></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div ng-if="!newThing">
                        please choose a Thing to attach Sensors to
                    </div>
                    <hr>

                    <h3>Datastreams</h3> <!-- make angular display this only when at least one sensor is chosen, otherwise a message that no sensor/thing was chosen-->
                    <div ng-if="newThing && thisThingsSensorList">
                        <h5 class="ml-3">Add a Datastream to the Thing</h5>

                    <div class="row">
                        <button type="button" class="btn btn-primary btn-sm btn-add-entity m-0" data-toggle="modal" data-target="#newDatastream"><i class="fa fa-plus"></i> Create a new Datastream<span class="fa"></span></button>
                    </div>

                    <div class="row" ng-repeat="datastream in datastreams">
                        <div class="col-1"></div>
                        <div class="col-7">
                        <button type="button" class="btn btn-primary btn-sm btn-add-entity m-0" data-toggle="modal" data-target="#newDatastream" ng-click="newDatastream=datastream">{{ datastream.name }}</button>
                        </div>
                        <div class="col-4">
                            <h4>
                                <div class="badge badge-success" style="float: right">
                                    ID: {{ newDatastream['@iot.id'] }}
                                </div>
                            </h4>
                        </div>
                    </div>

                    <h5 class="ml-3">Datastreams attached to the Thing</h5>

                    <div>
                        <table class="table table-bordered table-hover st-table table-striped table-sm">
                            <thead class="st-thead">
                            <tr>
                                <th>Name</th>
                                <th>ID</th>
                                <th style="text-align: center; width:66px">Remove</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="x in thisThingsDatastreamList">
                                <td ng-click="datastreamClicked(x['@iot.id'])">{{x["name"]}}</td>
                                <td ng-click="datastreamClicked(x['@iot.id'])">{{x["@iot.id"]}}</td>
                                <td style="text-align: center;"><button type="button" class="btn btn-primary btn-sm m-0" ng-click="removeDatastreamfromThing(x)" ng-disabled="originalDatastreamList.includes(x)"><i class="fa fa-minus"></i> <span class="fa"></span></button></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>




                    <!-- Create Datastream Modal -->
                    <div class="modal fade" id="newDatastream" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header p-3 mb-2 bg-primary text-white">
                                    <!-- <button type="button" class="close" data-dismiss="modal">*</button> -->
                                    <h2 class="modal-title"><i class="fa fa-cube"></i>NEW DEVICE</h2>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h3 class="modal-title">Datastream</h3>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Datastream Name: </span>
                                            <input class="form-control" type="text" placeholder="Example: PM10 Measurements of Crowdsensor 180232" ng-model="newDatastream.name" />
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Datastream Description: </span>
                                            <input class="form-control" type="text" placeholder="Example: Datastream for Particulate Matter" ng-model="newDatastream.description" />
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-text mr-3">
                                                Sensor (type): 
                                            </div>
                                            <select class="custom-select" ng-model="newDatastream.sensor" ng-options="x.name for x in thisThingsSensorList track by x['@iot.id']">
                                                <option value="" selected>select the Sensor (type) this Datastream belongs to</option>
                                            </select>
                                        </div>
                                        <div class="input-group">
                                            <div class="input-group-text mr-3">
                                                Observed Property: 
                                            </div>
                                            <select class="custom-select" ng-model="newDatastream.observedproperty" ng-options="x.name for x in obspropList track by x['@iot.id']"  ng-change="getUnitOfMeasurement(x['@iot.id'])">
                                                <option value="" selected>select the Observed Property this Datastream measures</option>
                                            </select>
                                        </div>
                                        <hr>
                                        <h6 class="modal-title">Unit of Measurement: </h6>
                                        <div class="indent-inputlines mb-4">
                                            <div class="input-group">
                                                <span class="input-group-addon">Unit Name: </span>
                                                <input class="form-control" type="text" placeholder="Example: Microgram per Cubic Meter" ng-model="newDatastream.unitOfMeasurement.name" />
                                                <span class="input-group-addon">Symbol: </span>
                                                <input class="form-control" type="text" placeholder="Example: ug/m3" ng-model="newDatastream.unitOfMeasurement.symbol" />
                                                <span class="input-group-addon">Definition: </span>
                                                <input class="form-control" type="text" placeholder="Example: http://unitsofmeasure.org/ucum.html" ng-model="newDatastream.unitOfMeasurement.definition" />
                                            </div>
                                        </div>
                                        <h5 class="modal-title">Properties: </h5>
                                        <div class="indent-inputlines mb-4">
                                            <h6 class="modal-title">Software Version: </h6>
                                            <div class="indent-inputlines mb-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon">Version Number:<button type="button" class="input-group-text badge badge-info infobadge" title="Please provide a reference to the version of the installed Software.&#013;&#010;You can either provide a direct link to the software or just give the version number."><i class="fas fa-question-circle"></i></button></span>
                                                    <input class="form-control" type="text" placeholder="Example: v0.8.5" ng-model="newDatastream.properties.softwareversion.nr" />
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon">Installation Date:<button type="button" class="input-group-text badge badge-info infobadge" title="Please provide the Installation date of the Software.&#013;&#010;Please use the ISO8601 Time Format without milliseconds. The Format consists of:&#013;&#010;- Year-Month-Day followed by a 'T' separator followed by Hour:Minute:Second followed by a Timezone&#013;&#010;- Please provide hours in 24 hours format&#013;&#010;- The Timezone may be provided with + or - Hours:Minutes deviation from GMT&#013;&#010;Example: 2019-11-01T22:00:00+01:00 is November the 1st, 10pm in UTC+1 Timezone (Central European)"><i class="fas fa-question-circle"></i></button></span>
                                                    <input class="form-control" type="text" placeholder="Example: 2019-05-26T14:21:44Z" ng-model="newDatastream.properties.softwareversion.date" pattern="^(?:[1-9]\d{3}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1\d|2[0-8])|(?:0[13-9]|1[0-2])-(?:29|30)|(?:0[13578]|1[02])-31)|(?:[1-9]\d(?:0[48]|[2468][048]|[13579][26])|(?:[2468][048]|[13579][26])00)-02-29)T(?:[01]\d|2[0-3]):[0-5]\d:[0-5]\d(?:Z|[+-][01]\d:[0-5]\d)$"/>
                                                </div>
                                            </div>
                                            <div class="input-group">
                                                <span class="input-group-addon" >Hardware Serial Number:<button type="button" class="input-group-text badge badge-info infobadge" title="The Hardware Serial Number is what differentiates the individual elements of a product series.&#013;&#010;It is usually a number printed somewhere on the hardware component. "><i class="fas fa-question-circle"></i></button></span>
                                                <input class="form-control" type="text" placeholder="Example: 5002-6666" ng-model="newDatastream.properties['hardware.serial_number']">
                                            </div>
                                            <h6 class="modal-title">License: </h6>
                                            <div class="indent-inputlines mb-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon" >Name:<button type="button" class="input-group-text badge badge-info infobadge" title="Please provide the name of the license used"><i class="fas fa-question-circle"></i></button></span>
                                                    <input class="form-control"type="text" placeholder="Example: CC BY 4.0" ng-model="newDatastream.properties.license.name">
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon" >Legal Notice:<button type="button" class="input-group-text badge badge-info infobadge" title="'Legal Notice' is a free text field that may contain any legal information from e.g. Attribution up to full texts that completely define the terms of use"><i class="fas fa-question-circle"></i></button></span>
                                                    <textarea class="form-control" rows="1" placeholder="Example: Max Musterfrau" ng-model="newDatastream.properties.license.legalnotice"></textarea>
                                                </div>
                                                <div class="input-group">
                                                    <span class="input-group-addon" >URL:<button type="button" class="input-group-text badge badge-info infobadge" title="please provide a link to a definition of the license, unless the 'Legal Notice'-field already fully defines the license."><i class="fas fa-question-circle"></i></button></span>
                                                    <input class="form-control" type="text" placeholder="Example: https://creativecommons.org/licenses/by/4.0/deed.de" ng-model="newDatastream.properties.license.url">
                                                </div>
                                            </div>
                                        </div>

                                        <hr>
                                        <ul class="list-group">
                                        <li ng-if="!newThing" class="list-group-item">Thing id: </li>
                                        <li ng-if="newThing" class="list-group-item list-group-item-success">Thing id: {{ newThing["@iot.id"] }}</li>

                                        <li ng-if="!newDatastream.sensor" class="list-group-item">Sensor id:&nbsp;<span class="text-danger">Please Select a Sensor</span></li>
                                        <li ng-if="newDatastream.sensor" class="list-group-item list-group-item-success">Sensor id: {{ newDatastream.sensor["@iot.id"] }}</li>

                                        <li ng-if="!newDatastream.observedproperty" class="list-group-item">Observed Property id:&nbsp;<span class="text-danger">Please select an Observed Property</span></li>
                                        <li ng-if="newDatastream.observedproperty" class="list-group-item list-group-item-success">Observed Property id: {{ newDatastream.observedproperty["@iot.id"] }}</li>
                                        
                                        <li class="list-group-item">unhashed Datastream id: {{ generateDatastreamid()["unhashed"] }}</li>

                                        <li class="list-group-item">Datastream id: {{ generateDatastreamid()["@iot.id"] }}</li>

                                        </ul>


                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-default" ng-click="addNewDatastream(newDatastream)" value="Save" />
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal end -->

                    </div>
                    <div ng-if="!newThing">
                        please choose a Thing to attach Datastreams to
                    </div>
                    <div ng-if="newThing && !thisThingsSensorList">
                        Thing does not have any Sensor (types) attached to it. Please add at least one Sensor (type)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- sha1 library, MIT license -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-sha1/0.6.0/sha1.js"></script>