<div class="main container">
    <div class="row py-2">
        <div class="col-md-12">
            <div class="card" >
                <div class="card-header">Create a Database Entry for a new Thing or add Sensors/Datastreams to an existing Thing</div>
                <div class="card-body">

                    
                    <div class="input-group">
                        <div class="input-group-prepend mx-2" style="margin-top:auto;margin-bottom:auto;">
                            <button type="button" class="btn btn-primary btn-sm btn-add-entity" data-toggle="modal" data-target="#newThing" style="float: left"><i class="fa fa-cube"></i> Create New Thing <span class="fa"></span></button>
                        </div>

                        <select class="custom-select mx-2" id="thing-select" ng-model="newThing" ng-options="x.name for x in thingsList track by x['@iot.id']"></select>

                        <div class="input-group-append mx-2" id="thingcreated" style="margin-top:auto;margin-bottom:auto;" size="20">
                            {{ newThing.name }}
                        </div>
                    </div>

                    <!-- Create Thing Modal -->
                    <div class="modal fade" id="newThing" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header p-3 mb-2 bg-primary text-white">
                                    <!-- <button type="button" class="close" data-dismiss="modal">*</button> -->
                                    <h2 class="modal-title"><i class="fa fa-cube"></i>NEW DEVICE</h2>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h3 class="modal-title">Thing</h3>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Name: </span>
                                            <input class="form-control" type="text" placeholder="Example: Crowdsensing Node (SDS011, 180232)" ng-model="newThing.name" aria-describedby="thingnamehelpblock" />
                                            <small id="thingnamehelpblock" class="form-text text-muted">Human readable name of the thing. </small>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Description: </span>
                                            <input class="form-control" type="text" placeholder="Example: Low Cost Node Measuring Particulate Matter" ng-model="newThing.description" aria-describedby="thingdescriptionhelpblock"/>
                                            <small id="thingdescriptionhelpblock" class="form-text text-muted">Human readable description of the thing. </small>
                                        </div>
                                        <h5 class="modal-title">Properties: </h5>
                                        <div class="indent-inputlines">
                                            <div class="form-group">
                                                <label for="deviceidInput">Device ID: </label>
                                                <input class="form-control" id="deviceidInput" type="text" onkeyup="this.value = this.value.toLowerCase().replace(/ /g, '_');" placeholder="Example: 180232" ng-model="newThing.properties['device_id']" aria-describedby="thingpropertiesdeviceidhelpblock">
                                                <small id="thingpropertiesdeviceidhelpblock" class="form-text text-muted">Some Identifier of the Thing. <span class="text-warning">Necessary for ID generation. Only Lowercase Letters. </span></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="devicenameInput">Device Name: </label>
                                                <input class="form-control" id="devicenameInput" type="text" onkeyup="this.value = this.value.toLowerCase().replace(/ /g, '_');" placeholder="Example: crowdsensor" ng-model="newThing.properties['device_name']" aria-describedby="thingpropertiesdevicenamehelpblock"> 
                                                <small id="thingpropertiesdevicenamehelpblock" class="form-text text-muted">Short Name of the Thing. <span class="text-warning">Necessary for ID generation. Only Lowercase Letters. </span></small>
                                            </div>
                                            <div class="form-group">
                                                <label for="operatorurlInput">Device Operator URL: </label>
                                                <input class="form-control" id="operatorurlInput" type="text" onkeyup="this.value = this.value.toLowerCase().replace(/ /g, '_');" placeholder="Example: teco.edu" ng-model="newThing.properties['operator_url']" aria-describedby="thingpropertiesoperatorurlhelpblock">
                                                <small id="thingpropertiesoperatorurlhelpblock" class="form-text text-muted">Operator URL of the Thing. <span class="text-warning">Necessary for ID generation. Only Lowercase Letters. </span></small>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-default" ng-click="pushToServer(newThing)" value="Push to Server" />
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal end -->
                    

                
                    <hr>

                    <div class="row" ng-repeat="sensor in sensors">
                        <div class="col-1"></div>
                        <div class="col-7">
                            <button ng-click="modifysensor(sensor)"></button>
                        </div>
                        <div class="col-4">{{sensor.name}}</div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-3">
                        <button type="button" class="btn btn-primary btn-sm btn-add-entity" data-toggle="modal" data-target="#newSensor" style="float: left"><i class="fa fa-plus"></i> Add a Sensor type<span class="fa"></span></button>
                        </div>
                        <div class="col-4">
                            <div class="form-group">
                                <label for="thing-select">or select an existing Sensor type to add Datastreams to:</label>
                                <select class="custom-select" id="sensor-select" ng-model="newSensor" ng-options="x.name for x in sensorsList track by x['@iot.id']">
                                </select>
                            </div>
                        </div>

                        <div class="col-4">{{ newSensor.name }}</div>
                    </div>


                    <div class="row" ng-repeat="datastream in datastreams">
                        <div class="col-1"></div>
                        <div class="col-7">
                        <button ng-click="modifydatastream(datastream)"></button>
                        </div>
                        <div class="col-4">{{datastream.name}}</div>
                    </div>

                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-7">
                        <button type="button" class="btn btn-primary btn-sm btn-add-entity" data-toggle="modal" data-target="#newDatastream" style="float: left"><i class="fa fa-plus"></i> Add a Datastream using this type of sensor<span class="fa"></span></button>
                        </div>
                        <div class="col-4">right side text</div>
                    </div>
                
                    <!-- Create Datastream Modal -->
                    <div class="modal fade" id="newDatastream" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header p-3 mb-2 bg-primary text-white">
                                    <!-- <button type="button" class="close" data-dismiss="modal">*</button> -->
                                    <h2 class="modal-title"><i class="fa fa-cube"></i>NEW DEVICE</h2>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h3 class="modal-title">Datastream</h3>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Name: </span>
                                            <input class="form-control" type="text" placeholder="Example: PM10 Datastream of Crowdsensing Node (SDS011, 180232)" ng-model="newDatastream.name" />
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Description: </span>
                                            <input class="form-control" type="text" placeholder="Example: Datastream for recording Particulate Matter" ng-model="newDatastream.description" />
                                        </div>
                                        <h5 class="modal-title">Properties: </h5>
                                        <div class="indent-inputlines">
                                            <h6 class="modal-title">License: </h6>
                                            <div class="indent-inputlines">
                                                <div class="form-group">
                                                    <label for="licensetypeInput">Type: </label>
                                                    <input class="form-control" id="licensetypeInput" type="text" placeholder="Example: CC BY 4.0" ng-model="newDatastream.properties['device_id']">
                                                </div>
                                                <div class="form-group">
                                                    <label for="licenseownerInput">Owner: </label>
                                                    <input class="form-control" id="licenseownerInput" type="text" placeholder="Example: Max Musterfrau" ng-model="newDatastream.properties['license']['owner']">
                                                </div>
                                                <div class="form-group">
                                                    <label for="licensemetadataInput">Metadata: </label>
                                                    <input class="form-control" id="licensemetadataInput" type="text" placeholder="Example: https://creativecommons.org/licenses/by/4.0/deed.de" ng-model="newDatastream.properties['license']['metadata']">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="sensorserialnumberInput">Sensor Serial Number: </label>
                                                <input class="form-control" id="sensorserialnumberInput" type="text" placeholder="Example: 5002-6666" ng-model="newDatastream.properties['sensor_serial_number']">
                                            </div>
                                            <div class="form-group">
                                                    <label for="sensorameInput">Sensor Name: </label>
                                                    <input class="form-control" id="sensorameInput" type="text" placeholder="Example: sds011" ng-model="newDatastream.properties['sensor_name']">
                                            </div>
                                            <div class="form-group">
                                                <label for="datastreamopertorurlInput">Datastream Operator URL: </label>
                                                <input class="form-control" id="datastreamopertorurlInput" type="text" placeholder="Example: teco.edu" ng-model="newDatastream.properties['operator_url']">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <input type="submit" class="btn btn-default" ng-click="addNewDatastream(newDatastream)" value="Save" />
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal end -->


                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="obsprop-select">Select Observed Property:</label>
                                <select class="custom-select" id="obsprop-select">
                                    <option selected> -- None Selected --</option>
                                    <option ng-repeat="x in obspropList" value="{{x['@iot.id']}}"> {{x["name"]}}</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
