<div class="main">
    <div class="card">
        <div class="card-header">
            <!--button class="backbutton"-->
            <a class="backbutton" ng-href="#/thing/{{thingId}}"><span class="entityInfoHeader"><i class="fas fa-arrow-left mr-3"></i>Back to Thing: {{thingName}}</span></a>
            <!--button-->
            <ul class="nav nav-tabs mt-4">
                <li class="nav-item" ng-click="tabPropertiesClicked()"><a class="nav-link" data-target="#properties" data-toggle="tab">Properties</a></li>
                <li class="nav-item" ng-click="tabThingClicked()"><a class="nav-link" data-target="#thing" data-toggle="tab">Thing</a></li>
                <li class="nav-item" ng-click="tabSensorClicked()"><a class="nav-link" data-target="#sensor" data-toggle="tab">Sensor</a></li>
                <li class="nav-item" ng-click="tabObservationsClicked()"><a class="nav-link active" data-target="#observations" data-toggle="tab">Observations</a></li>
                <li class="nav-item" ng-click="tabObservedPropertyClicked()"><a class="nav-link" data-target="#observedproperty" data-toggle="tab">ObservedProperty</a></li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane" id="properties">
                    <div class="entityInfo">
                        <span class="entityInfoHeader">Name</span> <br />
                        <pre class="entityInfoInfo">{{name}}</pre>
                        <span class="entityInfoHeader">Description</span><br />
                        <pre class="entityInfoInfo">{{description}}</pre>
                        <button class="collapsible">
                            <span class="entityInfoHeader">Unit Of Measurement</span> <br />
                        </button>
                        <div class="collapsible-content">
                            <pre class="entityInfoInfo">{{unitOfMeasurement | json:4}}</pre>
                        </div>
                        <button class="collapsible">
                            <span class="entityInfoHeader">Observed Area</span> <br />
                        </button>
                        <div class="collapsible-content">
                            <pre class="entityInfoInfo">{{observedArea | json:4}}</pre>
                        </div>
                        <span class="entityInfoHeader">Id</span> <br />
                        <pre class="entityInfoInfo">{{id}}</pre>
                    </div>
                </div>

                <div class="tab-pane" id="thing">
                    <div class="entityInfo">
                        <span class="entityInfoHeader">Name</span> <br />
                        <pre class="entityInfoInfo">{{thingName}}</pre>
                        <span class="entityInfoHeader">Description</span><br />
                        <pre class="entityInfoInfo">{{thingDescription}}</pre>
                        <button class="collapsible">
                            <span class="entityInfoHeader">Properties</span> <br />
                        </button>
                        <div class="collapsible-content">
                            <pre class="entityInfoInfo">{{thingProperties | json:4}}</pre>
                        </div>
                        <span class="entityInfoHeader">Id</span> <br />
                        <pre class="entityInfoInfo">{{thingId}}</pre>
                    </div>
                </div>

                <div class="tab-pane" id="sensor">
                    <div class="entityInfo">
                        <span class="entityInfoHeader">Name</span> <br />
                        <pre class="entityInfoInfo">{{sensorName}}</pre>
                        <span class="entityInfoHeader">Description</span><br />
                        <pre class="entityInfoInfo">{{sensorDescription}}</pre>
                        <!--span class="entityInfoHeader">Encoding</span> <br /-->
                        <!--pre class="entityInfoInfo">{{sensorEncoding}}</pre-->
                        <span class="entityInfoHeader">Metadata</span> <br />
                        <pre class="entityInfoInfo">{{sensorMetadata}}</pre>
                        <span class="entityInfoHeader">Id</span> <br />
                        <pre class="entityInfoInfo">{{sensorId}}</pre>
                    </div>
                </div>

                <div class="tab-pane active" id="observations" ng-class="datastreams.state">
                    <form ng-class="{disabled: datastreams.state != Datastreams.states['main_loaded'] && datastreams.state != Datastreams.states['secondary_loaded']}">
                        <button id="datetimes" class="btn btn-secondary dropdown-toggle" type="button" aria-haspopup="true" aria-expanded="false">
                            <span ng-if="!startDate">Select Date</span>
                            <span ng-if="startDate">{{startDate}} - {{endDate}}</span>
                        </button>
                        <div class="switch pull-right">
                            <label>
                                <input type="checkbox" ng-model="isLive" ng-change="changedLive()">
                                Show Live Data
                            </label>
                        </div>
                    </form>
                    <div id="loading-screen-wrapper" >
                        <div id="loading-screen" >
                                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                            LOADING...
                        </div>
                    </div>
                    <div id="observationChartWrapper" class="card" >
                        <div class="card-header">
                            <span>RESULTS</span>
                            <button type="button" ng-if="datastreams.state == Datastreams.states['main_loaded']" ng-click="showActiveThingsSelection()" class="compare-to-btn btn btn-primary" data-toggle="modal" data-target="#thingSelection">Compare to ...</a>
                            <button type="button" ng-if="datastreams.state == Datastreams.states['secondary_loaded']" ng-click="removeComparison()" class="compare-to-btn btn btn-error">Remove comparison</a>
                        </div>
                        <div class="card-body">
                            <canvas id="observationChart" ></canvas>
                        </div>
                    </div>
                    <div id="legacy-tables">
                        
                    </div>
                    <div id="observations-grid" ng-if="datastreams.state != Datastreams.states['secondary_loaded']">
                        <div class="grid-row grid-header">
                            <div class="grid-cell">Result Time</div>
                            <div ng-repeat-end class="grid-cell">Result [<span id="unitOfMeasurementone"></span>]</div>
                        </div>
                        <div class="grid-body" vs-repeat="{size:35, 'scroll-margin': 0, autoresize: true}">
                            <div class="grid-row" ng-class="{top: x == observationsList[0]}" ng-repeat="x in observationsList">
                                <div class="grid-cell">{{x["resultTime"] | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                <div class="grid-cell">{{x["result"]}}</div>
                            </div>
                        </div>
                    </div>
                    <div id="sideBySideComparison" ng-if="datastreams.state == Datastreams.states['secondary_loaded']">
                            <div class="streamTitle main">{{name}}</div>
                            <div id="observations-table-main" class="table table-bordered table-hover st-table table-striped table-sm">
                                <div class="grid-row grid-header">
                                    <div class="grid-cell">Result Time</div>
                                    <div ng-repeat-end class="grid-cell">Result [<span id="unitOfMeasurementone"></span>]</div>
                                </div>
                                <div class="grid-body" vs-repeat="{size:35, 'scroll-margin': 0, autoresize: true}">
                                    <div class="grid-row" ng-class="{top: x == observationsList[0]}" ng-repeat="x in observationsList">
                                        <div class="grid-cell">{{x["resultTime"] | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                        <div class="grid-cell">{{x["result"]}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="streamTitle secondary">{{nameSecondary}}</div>
                            <div id="observations-table-secondary" class="table table-bordered table-hover st-table table-striped table-sm">
                                <div class="grid-row grid-header">
                                    <div class="grid-cell">Result Time</div>
                                    <div ng-repeat-end class="grid-cell">Result [<span id="unitOfMeasurementtwo"></span>]</div>
                                </div>
                                <div class="grid-body" vs-repeat="{size:35, 'scroll-margin': 0}">
                                    <div class="grid-row" ng-class="{top: x == secondObservationsList[0]}" ng-repeat="x in secondObservationsList">
                                        <div class="grid-cell">{{x["resultTime"] | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                                        <div class="grid-cell">{{x["result"]}}</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

                <div class="tab-pane" id="observedproperty">
                    <div class="entityInfo">
                        <span class="entityInfoHeader">Name</span><br />
                        <pre class="entityInfoInfo">{{observedPropertyName}}</pre>
                        <span class="entityInfoHeader">Description</span><br />
                        <pre class="entityInfoInfo">{{observedPropertyDescription}}</pre>
                        <span class="entityInfoHeader">Definition</span> <br />
                        <pre class="entityInfoInfo">{{observedPropertyDefinition}}</pre>
                        <span class="entityInfoHeader">Id</span> <br />
                        <pre class="entityInfoInfo">{{observedPropertyId}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Thing selection for comparison -->
    <div class="modal fade" id="thingSelection" tabindex="-1" role="dialog" aria-labelledby="thingSelectionLabel" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="thingSelectionLabel">Select a second thing/datastream</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <nav>
                        <ul class="nav nav-tabs mt-4">
                            <li class="nav-item" ng-click="showActiveThingsSelection()"><a class="nav-link active" data-target="#active-things" data-toggle="tab">Active Things</a></li>
                            <li class="nav-item" ng-click="showAllThingsSelection()"><a class="nav-link" data-target="#all-things" data-toggle="tab">All Things</a></li>
                            <li class="nav-item" ng-click="showThisThingSelection()"><a class="nav-link" data-target="#this-thing" data-toggle="tab">Datastreams of this Thing</a></li>
                        </ul>
                    </nav>
                    <div class="tab-content">
                        <div class="tab-pane active" id="active-things">
                            <!-- Thing selection -->
                            <div ng-if="modalState == 'thingSelection'">
                                <table class="table table-bordered table-hover st-table table-striped table-sm">
                                    <thead class="st-thead">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in thingsList" >
                                        <td ng-click="showDatastreamsForThing(x['@iot.id'], x['name'])">{{x["name"]}}</td>
                                        <td ng-click="showDatastreamsForThing(x['@iot.id'], x['name'])">{{x["description"]}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Datastream selection -->
                            <div ng-if="modalState == 'datastreamSelection'">
                                <button class="backbutton">
                                    <a href="javascript:void(0);" ng-click="showActiveThingsSelection()"><span
                                            class="entityInfoHeader"><i class="fas fa-arrow-left mr-3"></i>Back to
                                            active Things</span></a>
                                </button>
                                <table class="table table-bordered table-hover st-table table-striped table-sm">
                                    <thead class="st-thead">
                                        <tr>
                                            <th ng-click="sortBy('name')"> Name </th>
                                                    <!--th>Description</th-->
                                                    <th>Observed Property</th>
                                                    <!--th>Unit of Measurement</th-->
                                                    <th>From</th>
                                                    <th>Until</th>
                                                    <!--th>Area</th-->
                                                </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in datastreamsList | orderBy:propertyName:reverse" ng-click="datastreamClicked(x['@iot.id'], x['name'])">
                                            <td>
                                                <span title="{{x['name']}}">{{x["name"] | limitTo : 26}}...</span>
                                            </td>
                                            <!--td>{{x["description"]}}</td-->
                                            <td>{{x['ObservedProperty']['name']}}</td>
                                            <!--td>{{x["unitOfMeasurement"]}}</td-->
                                            <td>{{x["phenomenonTime"] | limitTo : 24 | date:'yyyy-MM-dd HH:mm:ss'}} </td>
                                            <td>{{x["phenomenonTime"] | limitTo : -24 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                            <!--td>{{x["observedArea"]}}</td-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="tab-pane" id="this-thing">
                            <table class="table table-bordered table-hover st-table table-striped table-sm">
                                <thead class="st-thead">
                                    <tr>
                                        <th ng-click="sortBy('name')"> Name </th>
                                                <!--th>Description</th-->
                                                <th>Observed Property</th>
                                                <!--th>Unit of Measurement</th-->
                                                <th>From</th>
                                                <th>Until</th>
                                                <!--th>Area</th-->
                                            </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="x in datastreamsList | orderBy:propertyName:reverse" ng-click="datastreamClicked(x['@iot.id'], x['name'])">
                                        <td>
                                            <span title="{{x['name']}}">{{x["name"] | limitTo : 26}}...</span>
                                        </td>
                                        <!--td>{{x["description"]}}</td-->
                                        <td>{{x['ObservedProperty']['name']}}</td>
                                        <!--td>{{x["unitOfMeasurement"]}}</td-->
                                        <td>{{x["phenomenonTime"] | limitTo : 24 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <td>{{x["phenomenonTime"] | limitTo : -24 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                        <!--td>{{x["observedArea"]}}</td-->
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="all-things">
                            <!-- Thing selection -->
                            <div ng-if="modalState == 'thingSelection'">
                                <table class="table table-bordered table-hover st-table table-striped table-sm">
                                    <thead class="st-thead">
                                    <tr>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="x in thingsList" >
                                        <td ng-click="showDatastreamsForThing(x['@iot.id'], x['name'])">{{x["name"]}}</td>
                                        <td ng-click="showDatastreamsForThing(x['@iot.id'], x['name'])">{{x["description"]}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- Datastream selection -->
                            <div ng-if="modalState == 'datastreamSelection'">
                                <button class="backbutton">
                                    <a href="javascript:void(0);" ng-click="showAllThingsSelection()"><span
                                            class="entityInfoHeader"><i class="fas fa-arrow-left mr-3"></i>Back to
                                            active Things</span></a>
                                </button>
                                <table class="table table-bordered table-hover st-table table-striped table-sm">
                                    <thead class="st-thead">
                                        <tr>
                                            <th ng-click="sortBy('name')"> Name </th>
                                            <!--th>Description</th-->
                                            <th>Observed Property</th>
                                            <!--th>Unit of Measurement</th-->
                                            <th>From</th>
                                            <th>Until</th>
                                            <!--th>Area</th-->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="x in datastreamsList | orderBy:propertyName:reverse" ng-click="datastreamClicked(x['@iot.id'], x['name'])">
                                            <td>
                                                <span title="{{x['name']}}">{{x["name"] | limitTo : 26}}...</span>
                                            </td>
                                            <!--td>{{x["description"]}}</td-->
                                            <td>{{x['ObservedProperty']['name']}}</td>
                                            <!--td>{{x["unitOfMeasurement"]}}</td-->
                                            <td>{{x["phenomenonTime"] | limitTo : 24 | date:'yyyy-MM-dd HH:mm:ss'}} </td>
                                            <td>{{x["phenomenonTime"] | limitTo : -24 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                                            <!--td>{{x["observedArea"]}}</td-->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md-12">
            <div ng-if="showMap" class="map-container" ng-include="$window.dashboardSettings.root + 'views/map.html'">
            </div>            
        </div>
    </div>
</div>
</div>
