<div class="main">
    <div class="row py-2" id="number-observation-box">
        <div class="col-md-12">
            <div class="small-box card text-primary" style="margin-bottom:0;">
                <div class="card-header"><h5 style="margin-bottom:0">Total Number of Observations</h5></div>
                <div class="card-body">{{obs_string}}</div>            
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md-12">
            <div class="map-container" ng-include="$window.dashboardSettings.root + 'views/map.html'">
            </div>            
        </div>
    </div>
</div>
