<div class="col-md-12 main">
    <div class="row py-2">
        <div class="col-md-12">
            <div class="card" >
                <div class="card-header">About</div>
                <div class="card-body">
                    This is the live view of the Data from the smartAQnet project...
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md-6">
            <div class="small-box bg-red">
                <div class="inner">
                    <div id="n_observations" class="small-box-heading">{{n_observations}}</div>
                    <div class="small-box-footer">
                        Total number of observations
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="small-box bg-green">
                <div class="inner">
			<div id="active-devices" class="small-box-heading"><a href="#/things?$filter=not Datastreams%2FphenomenonTime lt now() sub duration'P1d'">{{active_devices}}</a></div>
                    <div class="small-box-footer">
                        Active Sensors (last 24h)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
            <div class="col-md-12">
                <div class="card" >
                    <div class="card-header">Map showing active Sensors</div>
                    <div class="card-body">
                        <div id="map" ng-show="mapVisible" class="map" height="400px" width="400px">
                            <div id="legend">
                                <h2>Legend:</h2>
                                <div class="legendbox" id="legendbox">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row py-2">
                            <div class="col-md-6">
                                <p>Choose the Layers of the Map:</p>
                                <div>
                                    <input type="checkbox" id="Layer-Pins" name="Layer" checked>
                                    <label for="Layer-Pins">Pins</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="Layer-ColoredMarkers" name="Layer">
                                    <label for="Layer-ColoredMarkers">Colored Markers</label>
                                </div>
                                <div>
                                    <input type="checkbox" id="Layer-Kriging" name="Layer">
                                    <label for="Layer-Kriging">Kriging</label>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <p>Choose Data Source:</p>
                                <div>
                                    <input type="radio" id="Source-Real" name="Source" value="realsource" checked>
                                    <label for="Source-Real">Real Data</label>
                                </div>
                                <div>
                                    <input type="radio" id="Source-Simulation" name="Source" value="simulationsource">
                                    <label for="Source-Simulaion">Simulation Data</label>
                                </div>
                            </div>
                        </div>
                    </div>                    
                    <div class="card-footer">
                        <div class="row py-2">
                            <div class="col-md-6">
                                <button class="refreshbutton" id="refreshbutton">Refresh Map</button> <!-- disable for few sec or until loaded-->
                            </div>
                            <div class="col-md-6">
                                <input type="checkbox" id="auto-refresh" name="auto-refresh">
                                <label for="auto-refresh">Auto-Refresh</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
