<div ng-controller="MapCtrl" id="fullscreen" class="fullscreen">
    <div id="map" ng-show="mapVisible" class="map" height="400px" width="400px" ng-class="{isControlSidePanelOpen: isControlSidePanelOpen}"></div>
    
    <div class="sidepanel" id="ControlSidepanel" ng-class="{opened: isControlSidePanelOpen}">
        <div class="sidepanel-header" id="control-sidepanel-header">
            <div class="sidepanel-header-name">Controls</div>
            <div class="togglebtn-container">
                <div class="ol-full-screen ol-unselectable ol-control">
                    <span title="Toggle control-panel"><button ng-click="toggleControlSidepanel()" id="togglebtn-sidepanel-right"></button></span>
                </div>
            </div>
        </div>
        <div class="sidepanel-body">
            <div class="sidepanel-subpanel-right" id="Layer-Panel">
                <div class="sidepanel-subtitle">Layers:</div>
                <div class="checkbox-container">
                    <input type="checkbox" id="Layer-Pins" name="Layer" ng-model="isLayerPinsActive" ng-change="changedLayerPinsActive()">
                    <label for="Layer-Pins">Pins</label>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="Layer-ColoredMarkers" name="Layer" ng-model="isColorMarkersActive" ng-change="changedColorMarkersActive()">
                    <label for="Layer-ColoredMarkers">Colored Markers</label>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" id="Layer-Kriging" name="Layer" ng-model="isKrigingActive" ng-change="changedKrigingActive()">
                    <label for="Layer-Kriging">Kriging</label>
                </div>
            </div>
            <div class="sidepanel-subpanel-right" id="Source-Panel">
                <div class="sidepanel-subtitle">Data Source:</div>
                <div>
                    <input type="radio" id="Source-Real" name="Source" ng-model="source" value="realsource" ng-change="sourceChanged()">
                    <label for="Source-Real">Real Data</label>
                </div>
                <div>
                    <input type="radio" id="Source-Simulation" name="Source" ng-model="source" value="simulationsource" ng-change="sourceChanged()">
                    <label for="Source-Simulation">Simulation Data</label>
                </div>
            </div>
        </div>
        <div class="sidepanel-footer">
            <div class="sidepanel-subpanel-right" id="Refresh-Panel">
                <div>
                    <button class="refreshbutton" id="refreshbutton" ng-click="UpdateMap()">Refresh Map</button>
                    <!-- disable for few sec or until loaded-->
                </div>
                <input type="checkbox" id="auto-refresh" name="auto-refresh" ng-model="isAutoRefreshActive" ng-change="changedAutoRefreshActive()">
                <label for="auto-refresh">Auto-Refresh</label>
            </div>
        </div>
    </div>

    <!-- <div class="sidepanel" id="LegendSidepanel" ng-class="{opened: isLegendSidePanelOpen}">
        <div class="sidepanel-header" id="legend-sidepanel-header"><div class="sidepanel-header-name" id="LegendTitle">Legend</div>
        </div>
        <div class="sidepanel-body">
            <div class="sidepanel-subpanel-left" id="Legend">
                <div class="legend-container-container">
                    <div class="legend-text-container">
                        <div class="legend-textbox" id="LegendText1">100
                        </div>
                        <div class="legend-textbox" id="LegendText2">75
                        </div>
                        <div class="legend-textbox" id="LegendText3">50
                        </div>
                        <div class="legend-textbox" id="LegendText4">25
                        </div>
                        <div class="legend-textbox" id="LegendText5">0
                        </div>
                    </div>
                    <div class="legend-container">
                        <div class="legend-scale" id="LegendTop">
                        </div>
                        <div class="legend-scale" id="LegendPiece1">
                        </div>
                        <div class="legend-scale" id="LegendPiece2">
                        </div>
                        <div class="legend-scale" id="LegendPiece3">
                        </div>
                        <div class="legend-scale" id="LegendPiece4">
                        </div>
                        <div class="legend-scale" id="LegendBottom">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidepanel-footer">
            <div class="togglebtn-container">
                <div class="ol-full-screen ol-unselectable ol-control">
                    <span title="Toggle control-panel"><button ng-click="toggleLegendSidepanel()" id="togglebtn-sidepanel-left"></button></span>
                </div>
            </div>
        </div>
    </div> -->


    <div class="sidepanel" id="LegendSidepanel" ng-class="{opened: isLegendSidePanelOpen}">
        <div class="sidepanel-header" id="legend-sidepanel-header"><div class="sidepanel-header-name" id="LegendTitle">Legend</div>
        </div>
        <div class="sidepanel-body">
            <div class="sidepanel-subpanel-left" id="Legend">
                <div class="legend-container-container">
                    <table class="table table-bordered table-hover st-table table-striped table-sm">
                        <thead class="st-thead">
                        <tr>
                            <th>Name</th>
                            <!--<th>Description</th>
                            th>Definition</th>
                            <th>Delete</th-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in colorlist">
                            <div class="legend-scale" id="{{x}}}"><td><style>.embedded-dashboard .legend-scale#{{x}}{background-color: {{x}}}</style></td></div>
                            <!--<td>{{x["description"]}}</td>
                            td>{{x["definition"]}}</td>
                            <td><div class="fa fa-remove delete-entity" ng-click="deleteObservedPropertyClicked(x)"></div></td-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="sidepanel-footer">
            <div class="togglebtn-container">
                <div class="ol-full-screen ol-unselectable ol-control">
                    <span title="Toggle control-panel"><button ng-click="toggleLegendSidepanel()" id="togglebtn-sidepanel-left"></button></span>
                </div>
            </div>
        </div>
    </div>
</div>