<div class="main">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs">
                <li class="nav-item" ng-click="tabPropertiesClicked()"><a class="nav-link active show" data-target="#properties" data-toggle="tab">Properties</a></li>
                <li class="nav-item" ng-click="tabDatastreamsClicked()"><a class="nav-link" data-target="#datastreams" data-toggle="tab">Datastreams</a></li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="properties">
                    <div class="entityInfo">
                        <span class="entityInfoHeader">Name</span> <br />
                        <pre class="entityInfoInfo">{{name}}</pre>
                        <span class="entityInfoHeader">Description</span><br />
                        <pre class="entityInfoInfo">{{description}}</pre>
                        <span class="entityInfoHeader">Definition</span><br />
                        <pre class="entityInfoInfo">{{definition}}</pre>
                        <span class="entityInfoHeader">Id</span> <br />
                        <pre class="entityInfoInfo pb-3 mb-3 border border-primary border-left-0 border-right-0 border-top-0">{{id}}</pre>

                        <button type="button" class="btn btn-primary collapsed" data-toggle="collapse" data-target="#displayconventions">Show/Hide Display Conventions</button>
                         <!-- collapsible properties -->
                         <div id="displayconventions" class="collapse" style="overflow:auto">
                            <table class="table table-bordered table-hover st-table table-striped table-sm">
                                <thead class="st-thead">
                                    <tr>
                                        <th colspan="2" class="text-center">Unit of Measurement</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in conventions.unitOfMeasurement">
                                        <td>{{key}}</td>
                                        <td>{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table table-bordered table-hover st-table table-striped table-sm">
                                <thead class="st-thead">
                                    <tr>
                                        <th class="text-center">{{name}} [{{conventions.unitOfMeasurement.symbol}}]</th>
                                        <th class="text-center">color [hex,rgb or hsl]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in conventions.fixedPoints">
                                        <td>{{key}}</td>
                                        <td>{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- collapsible end -->

                    </div>
                </div>
                <div class="tab-pane" id="datastreams">
                    <table class="table table-bordered table-hover st-table table-striped table-sm">
                        <thead class="st-thead">
                        <tr>
                    <th ng-click="sortBy('name')"> Name </th>
                            <!--th>Description</th-->
                            <th>Unit of Measurement</th>
                            <th>From</th>
                            <th>Until</th>
                            <!--th>Area</th-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in datastreamsList | orderBy:propertyName:reverse" ng-click="datastreamClicked(x['@iot.id'])">
                            <td>
                                <span title="{{x['name']}}">{{x["name"] | limitTo : 26}}...</span>
                            </td>
                            <!--td>{{x["description"]}}</td-->
                            <td>{{x["unitOfMeasurement"]["name"]}}</td>
                            <td>{{x["phenomenonTime"] | limitTo : 24 | date:'yyyy-MM-dd HH:mm:ss'}} </td>
                            <td>{{x["phenomenonTime"] | limitTo : -24 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <!--td>{{x["observedArea"]}}</td-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md-12">
            <div ng-if="showMap" class="map-container" ng-include="$window.dashboardSettings.root + 'views/map.html'">
            </div>
        </div>
    </div>
</div>
    