<div>
    <a type="button" class="btn btn-primary" ng-href="#/datastream/{{datastreamid}}">Go back to Datastream</a>
    <div class="entityInfo">
        <span class="entityInfoHeader">Total Number of Observations in this Datastream: </span> <br />
        <pre class="entityInfoInfo" ng-if="dataIsLoaded">{{$parent.count}}</pre>
        <pre class="entityInfoInfo" ng-if="!dataIsLoaded">... loading ...</pre>
        <span class="entityInfoHeader">Select Parameter: </span>
        <form>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams['resultTime']">Result Time
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams['result']">Result
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams['phenomenonTime']">Phenomenon Time
            </label>
        </form>
        <span class="entityInfoHeader">Top parameter: </span>
        <form class="form-inline">
            <div class="form-group" style="padding-top: 0">
                <input type="text" class="form-control text-center" ng-model="$parent.newTop" style="width: 60px">
            </div>
            <div class="form-group mb-2" style="padding-top: 0">
                <input type="text" readonly class="form-control-plaintext" value="Items per Page">
            </div>

        </form>
        <button type="button" class="btn btn-outline-primary btn-block" ng-click="updatequery()">Refresh Table</button>
    </div>
    <pre class="entityInfoInfo pt-3 mt-3 border border-primary border-left-0 border-right-0 border-bottom-0"></pre>
    <table class="table table-bordered table-hover st-table table-striped table-sm">
        <thead class="st-thead">
        <tr>
            <th ng-if="keyIsSelected('resultTime')">Result Time</th>
            <th ng-if="keyIsSelected('result')">Result [{{uOM['symbol']}}]</th>
            <th ng-if="keyIsSelected('phenomenonTime')">Phenomenon Time</th>
            <th ng-if="keyIsSelected('Datastream',false)">Datastream</th>
            <th ng-if="keyIsSelected('@iot.id',false)">@iot.id</th>
            <th ng-if="keyIsSelected('FeatureOfInterest',false)">Feature of Interest</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in dataList">
            <td ng-if="keyIsSelected('resultTime')">{{x["resultTime"]}}</td>
            <td ng-if="keyIsSelected('result')">{{x["result"]}}</td>
            <td ng-if="keyIsSelected('phenomenonTime')">{{x["phenomenonTime"]}}</td>
            <td ng-if="keyIsSelected('Datastream',false)">{{x["Datastream"]}}</td>
            <td ng-if="keyIsSelected('@iot.id',false)">{{x["@iot.id"]}}</td>
            <td ng-if="keyIsSelected('FeatureOfInterest',false)">{{x["FeatureOfInterest"]}}</td>
        </tr>
        </tbody>
    </table>
    <div id="loading-screen-wrapper" ng-if="!dataIsLoaded">
        <div id="loading-screen" >
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            LOADING...
        </div>
    </div>
    <div class="input-group">
        <button type="button" class="btn btn-primary" ng-click="followPreviousLink()" ng-disabled="!thisLinkSkip" style="margin-left: auto">&laquo; Previous Page</button>
        <button ng-if="dataIsLoaded" class="btn btn-secondary" disabled>Page {{currentpage}} of {{maxpages}}</button>
        <button type="button" class="btn btn-primary" ng-click="followNextLink()" ng-disabled="!nextLinkSkip" style="margin-right: auto">Next Page &raquo;</button>
    </div>
    <pre class="entityInfoInfo pb-3 mb-3 border border-primary border-left-0 border-right-0 border-top-0"></pre>
                        
    <a type="button" class="btn btn-block btn-primary" ng-href="#/datastream/{{datastreamid}}/observations">Download Observations</a>
</div>