<div>
    <div class="entityInfo">
        <span class="entityInfoHeader">Select Parameter: </span>
        <form>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.obs['resultTime']">Result Time
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.obs['result']">Result
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.obs['phenomenonTime']">Phenomenon Time
            </label>
            <!-- <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.obs['@iot.id']">@iot.id
            </label> -->
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.obs['FeatureOfInterest']">Feature of Interest
            </label>
        </form>
        <span class="entityInfoHeader">Top parameter: </span>
        <form class="form-inline">
            <div class="form-group" style="padding-top: 0">
                <input type="text" class="form-control text-center" ng-model="obsTop" style="width: 60px">
            </div>
            <div class="form-group mb-2" style="padding-top: 0">
                <input type="text" readonly class="form-control-plaintext" value="Items per Page">
            </div>
        </form>




        <button type="button" class="btn btn-outline-primary btn-block" ng-click="refreshObsTable()">Refresh Observations</button>
    </div>
    <pre class="entityInfoInfo pt-3 mt-3 border border-primary border-left-0 border-right-0 border-bottom-0"></pre>

    <table class="table table-bordered table-hover st-table table-striped table-sm">
        <thead>
            <tr>
                <th ng-repeat="dsid in datastreamIds" ng-click="linkClicked('datastream',dataListsMeta[dsid]['Thing']['@iot.id'])">{{dataListsMeta[dsid]["Thing"]["name"]}}</th>
            </tr>
            <tr>
                <th ng-repeat="dsid in datastreamIds" ng-click="linkClicked('datastream',dsid)">{{dataListsMeta[dsid]["name"]}}</th>
            </tr>
        </thead>
        <tbody>
            <td ng-repeat="dsid in datastreamIds" style="min-width: 272px;">
                <table class="table table-bordered table-hover st-table table-striped table-sm">
                    <thead class="st-thead">
                    <tr>
                        <th ng-if="selectparams.obs['resultTime']">Result Time</th>
                        <th ng-if="selectparams.obs['result']">Result</th>
                        <th ng-if="selectparams.obs['phenomenonTime']">Phenomenon Time</th>
                        <!-- <th ng-if="selectparams.obs['@iot.id']">@iot.id</th> -->
                        <th ng-if="selectparams.obs['FeatureOfInterest']">Feature of Interest</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in dataLists[dsid]">
                        <td ng-if="selectparams.obs['resultTime']">{{x["resultTime"]}}</td>
                        <td ng-if="selectparams.obs['result']">{{x["result"]}}</td>
                        <td ng-if="selectparams.obs['phenomenonTime']">{{x["phenomenonTime"]}}</td>
                        <!-- <td ng-if="selectparams.obs['@iot.id']">{{x["@iot.id"]}}</td> -->

                        <td ng-if="selectparams.obs['FeatureOfInterest']">
                            <table class="table table-bordered table-hover table-primary st-table table-striped table-sm">
                                <thead class="st-thead">
                                    <tr class="table-primary">
                                        <th>Type</th>
                                        <th>[lon,lat]</th>
                                    </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>{{x["FeatureOfInterest"]["feature"]["type"]}}</td>
                                    <td>{{x["FeatureOfInterest"]["feature"]["coordinates"]}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </td>

                    </tr>
                    <tr>
                        <div id="loading-screen-wrapper" ng-if="!dataIsLoaded[dsid]">
                            <div id="loading-screen" >
                                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                                LOADING...
                            </div>
                        </div>
                        <div class="input-group">
                            <button type="button" class="btn btn-primary" ng-click="previousLinksObservations(dsid)" ng-disabled="onFirstPage[dsid]" style="margin-left: auto">&laquo; Previous Page</button>
                            <button type="button" class="btn btn-primary" ng-click="nextLinksObservations(dsid)" ng-disabled="onLastPage[dsid]" style="margin-right: auto">Next Page &raquo;</button>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tbody>
    </table>
            

    <pre class="entityInfoInfo pb-3 mb-3 border border-primary border-left-0 border-right-0 border-top-0"></pre>
                        
    <a type="button" class="btn btn-block btn-primary" ng-click="notYetImplemented()">Download Observations</a>
</div>