<div>
    <table class="table table-bordered table-hover st-table table-striped table-sm">
        <thead class="st-thead">
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in sensorsList">
            <td ng-click="sensorClicked(x['@iot.id'])">{{x["name"]}}</td>
            <td ng-click="sensorClicked(x['@iot.id'])">{{x["description"]}}</td>
            <!-- <td><div class="fa fa-remove delete-entity" ng-click="deleteSensorClicked(x)"></div></td> -->
        </tr>
        </tbody>
    </table>
</div>
