<div class="main">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs nav-justified">
                <li class="nav-item"><a id="option1tab" class="nav-link nav-link-custom nav-link-custom-first" ng-class="{'active show': currentTab >= '1'}" style="pointer-events:none;">1. Create Scenario</a></li>
                <li class="nav-item"><a id="option2tab" class="nav-link nav-link-custom nav-link-custom-mid" ng-class="{'active show': currentTab >= '2'}" style="pointer-events:none;">2. Select Details</a></li>
                <li class="nav-item"><a id="option3tab" class="nav-link nav-link-custom nav-link-custom-mid" ng-class="{'active show': currentTab >= '3'}" style="pointer-events:none;">3. Choose Area</a></li>
                <li class="nav-item"><a id="option4tab" class="nav-link nav-link-custom nav-link-custom-last" ng-class="{'active show': currentTab >= '4'}" style="pointer-events:none;">4. Complete</a></li>
            </ul>
        </div>
        <div class="card-body">

            <div id="options1" ng-show="showTabs['1']">
                <div class="card">
                    <div class="card-header">
                        <h3>Create New Scenario</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <div class="form-row align-items-center">
                                    <div class="col-6">
                                        <label class="btn btn-primary btn-raised btn-lg">Upload JSON <input type="file" id="JSONupload" value="Import" hidden></label> <!-- needs to parse the file and set it as $scope.chosenTemplate -->
                                    </div>
                                    <div class="col-6">
                                        <select ng-model="chosenTemplate" ng-options="key for (key, value) in scenarioTemplates" ng-change="reversengineerkey(scenarioTemplates,chosenTemplate)" ng-init="chosenTemplate=scenarioTemplates['Default']" class="custom-select mr-sm-2"></select>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <div>Uploaded File: {{ simulationJSON }}</div>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-secondary" disabled>Back</a>
                        <a type="button" class="btn btn-primary btn-raised" ng-click="generateSector(chosenTemplate); goToTab(currentTab+1)">Next</a>
                    </div>
                </div>
            </div>


            <div id="options2" ng-show="showTabs['2']">
                <div class="card">
                    <div class="card-header">
                        <h3>Select Details</h3>
                    </div>
                    <div class="card-body">
                        <form>
                            <div ng-repeat="(key, value) in sectors">
                                <div class="form-row align-items-center">
                                    <div class="col-6">
                                        <button ng-disabled="!value.check" type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{key}}modal">{{key}}</button>
                                    </div>
                                    <div class="col-6">
                                        <input class="form-check-input" type="checkbox" ng-model="value.check" id="{{key}}checkboxlabel">
                                        <label class="form-check-label" for="{{key}}checkboxlabel">
                                        Check
                                        </label>
                                    </div>
                                </div>

                                <div class="modal fade" id="{{key}}modal" role="dialog">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header p-3 mb-2 bg-primary text-white">
                                                <h2 class="modal-title"><i class="fa fa-globe"></i>{{key}}</h2>
                                            </div>
                                            <div class="modal-body">
                                                <div>
                                                    <h3 class="modal-title">{{key}} scenario</h3>
                                                    <select ng-model="sectors[key]['activeScenario']" ng-init="sectors[key]['activeScenario']=value.scenarioNames[0]" ng-options="scenario for scenario in value.scenarioNames" class="custom-select mr-sm-2"></select>
                                                    <h3 class="modal-title">Pollutant Factors</h3>
                                                    <div class="row">
                                                        <div class="col-6 border border-primary border-top-0 border-bottom-0 border-left-0 ">
                                                            <div ng-repeat="(pollutant, percent) in value.pollutants">
                                                                <form class="form-inline">
                                                                    <label class="my-3 mr-2" for="{{key}}{{pollutant}}" style="width:50px;">{{pollutant}}</label>
                                                                    <input class="my-3" id="{{key}}{{pollutant}}" type="number" min="0" max="100" ng-disabled="sectors[key]['locked']" ng-model="sectors[key]['pollutants'][pollutant]"> %
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="col-6">
                                                            <div style="height: 59px">
                                                                <input class="my-3" type="checkbox" id="{{key}}lockcheckbox"  ng-model="sectors[key]['locked']" >
                                                                <label class="my-3 pl-3" for="{{key}}lockcheckbox">Lock Pollutants</label>
                                                            </div>
                                                            <div style="height: 59px">
                                                                <label class="my-3" for="{{key}}locked" style="width:50px;">Value</label>
                                                                <input class="my-3" id="{{key}}locked" type="number" min="0" max="100" ng-disabled="!sectors[key]['locked']" ng-model="sectors[key]['lockedValue']" ng-change="adjustLockedPollutants(sectors[key])"> %
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer border border-primary border-left-0 border-right-0 border-bottom-0">
                                                <input type="submit" class="btn btn-default" ng-click="outputSector()" value="Save" />
                                                <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-secondary" ng-click="goToTab(currentTab-1)">Back</a>
                        <a type="button" class="btn btn-primary btn-raised" ng-click="goToTab(currentTab+1)">Next</a>
                    </div>
                </div>
            </div>


            <div id="options3" ng-show="showTabs['3']">
                <div class="card">
                    <div class="card-header">
                        <h3>Set up Computational Domain</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8">
                                <div class="row py-2">
                                    <div class="col-md-12">
                                        <div class="map-container" ng-include="$window.dashboardSettings.root + 'views/map.html'">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-4">
                                    <label for="selectDomainSize">Domain Width/Height [km]</label>
                                    <select id="selectDomainSize" ng-model="simulationDomain.size" ng-options="item for item in [10,20,30,40,50,60,70,80,90,100]" ng-change="adjustZoom(simulationDomain.size)" ng-init="simulationDomain.size=10" class="custom-select mr-sm-2"></select>
                                </div>
                                <div>
                                    <label for="selectDomainCenter">Domain Center [lon,lat]</label>
                                    <div id="selectDomainCenter" ng-if="simulationDomain.center"><div class="row">lon: {{ simulationDomain.center[0] }}</div><div class="row">lat: {{simulationDomain.center[1]}}</div></div>
                                    <div id="selectDomainCenter" ng-if="!simulationDomain.center">Please click on the map to define a center</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-secondary" ng-click="goToTab(currentTab-1)">Back</a>
                        <a type="button" class="btn btn-primary btn-raised" ng-click="goToTab(currentTab+1)">Next</a>
                    </div>
                </div>
            </div>


            <div id="options4" ng-show="showTabs['4']">
                <div class="card">
                    <div class="card-header">
                        <h3>Check Parameters and Start Simulation</h3>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <div class="entityInfo">
                                    <span class="entityInfoHeader">Scenario Name</span> <br />
                                    <pre class="entityInfoInfo">{{scenarioname}}</pre>
                                    <span class="entityInfoHeader">Domain Center [lon,lat]</span> <br />
                                    <pre class="entityInfoInfo">{{simulationDomain.center}}</pre>
                                    <span class="entityInfoHeader">Domain Size [km]</span> <br />
                                    <pre class="entityInfoInfo">{{simulationDomain.size}} x {{simulationDomain.size}}</pre>
                                </div>
                            </div>
                            <div class="col-6">

                            </div>
                        </div>

                        <div class="pt-3 mt-3 border border-primary border-left-0 border-right-0 border-bottom-0"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="input-group mb-3">
                                    <input ng-model="exportName" type="text" class="form-control" placeholder="...type filename here" aria-label="Filename" style="text-align:center">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <a type="button" class="btn btn-primary btn-raised btn-block" id="downloadbutton" ng-click="exportJson()">Download Scenario as Template</a>
                            </div>
                        </div>
                        
                    </div>
                    <div class="card-footer">
                        <a type="button" class="btn btn-secondary" ng-click="goToTab(currentTab-1)">Back</a>
                        <a type="button" class="btn btn-primary btn-raised" ng-click="">Start Scenario Calculations</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
    

<!--  -->