<div class="rzslider">
    <span class="rz-bar-wrapper rz-left-out-selection"><span class="rz-bar"></span></span> <span
        class="rz-bar-wrapper rz-right-out-selection"><span class="rz-bar"></span></span>
    <span class="rz-bar-wrapper"><span class="rz-bar"></span></span> <span class="rz-bar-wrapper rz-draggable"><span
            class="rz-bar rz-selection" ng-style="barStyle"></span></span> <span class="rz-bar-wrapper"><span
            class="rz-bar rz-restricted" ng-style="restrictionStyle"></span></span> <span
        class="rz-pointer rz-pointer-min" ng-style="minPointerStyle" role="slider" tabindex="0"></span>
    <span class="rz-pointer rz-pointer-max" ng-style="maxPointerStyle" role="slider" tabindex="0"></span> <span
        class="rz-bubble rz-limit rz-floor">{{floorLabel}}</span> <span
        class="rz-bubble rz-limit rz-ceil">{{ceilLabel}}</span> <span class="rz-bubble rz-model-value">$137</span> <span
        class="rz-bubble rz-model-high">$364</span> <span class="rz-bubble">$273 - $500</span>
    <ul ng-show="showTicks" class="rz-ticks ng-hide">
    </ul>
</div>