<div class="main">
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs">
                <li class="nav-item" ng-click="tabPropertiesClicked()"><a class="nav-link active show" data-target="#properties" data-toggle="tab">Properties</a></li>
                <li class="nav-item" ng-click="tabLocationsClicked()"><a class="nav-link" data-target="#locations" data-toggle="tab">Location</a></li>
                <li class="nav-item" ng-click="tabHistoricalLocationsClicked()"><a class="nav-link" data-target="#historicallocations" data-toggle="tab">Historical Locations</a></li>
                <li class="nav-item" ng-click="tabDatastreamsClicked()"><a class="nav-link" data-target="#datastreams" data-toggle="tab">Datastreams</a></li>
            </ul>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane active" id="properties">
                    <div class="entityInfo">
                        <span class="entityInfoHeader">Name</span> <br />
                        <pre class="entityInfoInfo">{{name}}</pre>
                        <span class="entityInfoHeader">Description</span><br />
                        <pre class="entityInfoInfo">{{description}}</pre>
                        <span class="entityInfoHeader">Id</span> <br />
                        <pre class="entityInfoInfo pb-3 mb-3 border border-primary border-left-0 border-right-0 border-top-0">{{id}}</pre>

                        <!-- Collapsible/Modal button -->
                        <button type="button" class="btn btn-primary collapsed" data-toggle="collapse" data-target="#thingproperties">Show/Hide Properties</button type="button">
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#patchThing">Patch Thing</button>

                        <!-- Thing Patch modal -->
                        <div class="modal fade" id="patchThing" role="dialog">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header p-3 mb-2 bg-primary text-white">
                                        <h2 class="modal-title"><i class="fa fa-cube"></i>PATCH THING</h2>
                                    </div>
                                <div class="modal-body">
                                        <h3 class="modal-title">Thing</h3>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Name: </span>
                                            <input class="form-control" type="text" ng-model="patchThing.name" aria-describedby="thingnamehelpblock"/>
                                            <small id="thingnamehelpblock" class="form-text text-muted">Human readable name of the thing. </small>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Description: </span>
                                            <input class="form-control" type="text" ng-model="patchThing.description" aria-describedby="thingdescriptionhelpblock"/>
                                            <small id="thingdescriptionhelpblock" class="form-text text-muted">Human readable description of the thing. </small>
                                        </div>
                                        <div class="form-group">
                                            <label class="bmd-label-static" for="iotidInput">@iot.id </label>
                                            <input readonly class="form-control" id="iotidInput" type="text" ng-model="thing['@iot.id']" aria-describedby="thingpropertiesiotidhelpblock" disabled>
                                            <small id="thingpropertiesiotidhelpblock" class="form-text text-muted">The internal Database ID of the Thing. <span class="text-warning">IDs cannot be changed. </span></small>
                                        </div>

                                        <h5 class="modal-title">Properties: </h5>
                                        <div class="indent-inputlines">
                                            <div class="form-group">
                                                <label class="bmd-label-static" for="hardwareidInput">hardware.id </label>
                                                <input readonly class="form-control" id="hardwareidInput" type="text" onkeyup="this.value = this.value.toLowerCase();" ng-model="patchThing.properties['hardware.id']" aria-describedby="thingpropertieshardwareidhelpblock" disabled>
                                                <small id="thingpropertieshardwareidhelpblock" class="form-text text-muted">Some Identifier of the Thing. <span class="text-warning">Necessary for ID generation. May not be changed. </span></small>
                                            </div>
                                            <div class="form-group">
                                                <label class="bmd-label-static" for="shortnameInput">shortname</label>
                                                <input readonly  class="form-control" id="shortnameInput" type="text" onkeyup="this.value = this.value.toLowerCase();" ng-model="patchThing.properties['shortname']" aria-describedby="thingpropertiesshortnamehelpblock" disabled> 
                                                <small id="thingpropertiesshortnamehelpblock" class="form-text text-muted">Short Name of the Thing. <span class="text-warning">Necessary for ID generation. May not be changed. </span></small>
                                            </div>
                                            <div class="form-group">
                                                <label class="bmd-label-static" for="soperatordomainInput">operator.domain</label>
                                                <input readonly class="form-control" id="operatordomainInput" type="text" onkeyup="this.value = this.value.toLowerCase();" ng-model="patchThing.properties['operator.domain']" aria-describedby="thingpropertiesoperatordomainhelpblock" disabled>
                                                <small id="thingpropertiesoperatordomainhelpblock" class="form-text text-muted">Operator Web-Domain of the Thing. <span class="text-warning">Necessary for ID generation. May not be changed. </span></small>
                                            </div>
                                        </div>
                                        <h5 class="modal-title">Additional Properties: </h5>
                                        <div id="jsontree" ng-include="$window.dashboardSettings.root + 'views/json-patch-template.html'"></div>

                                        <h5 class="modal-title">Add new Property: </h5>
                                        <div class="row">
                                            <div class="col-lg-8 form-group">
                                                <!-- <label for="addnewpropertykey" class="bmd-label-floating">Key</label> -->
                                                <input type="text" class="form-control" id="addnewpropertykey" ng-model="addnewkey">
                                            </div>
                                            <span class="col-lg-4 form-group bmd-form-group"> 
                                                <button type="submit" class="btn btn-primary" ng-click="addNewProperty(addnewkey)">Add to Properties</button>
                                            </span>
                                        </div>
                                    </div>


                                    <div class="modal-footer border border-primary border-left-0 border-right-0 border-bottom-0">
                                        <form class="form-inline">
                                            <div class="form-group" id="patchpwcontainer">
                                                <label for="patchpw" class="bmd-label-floating">Input patch password</label>
                                                <input type="password" id="patchpw" class="form-control mx-sm-3">
                                                <small id="patchpwHelpInline"> 
                                                    {{pwvalid}}
                                                </small>
                                            </div>
                                        </form>
                                        <input type="submit" class="btn btn-default" ng-click="patchRequest(item.items)" value="Save" />
                                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Thing Patch modal end -->

                        <!-- collapsible content -->
                        <div id="thingproperties" class="collapse">
                            <table class="table table-bordered table-hover st-table table-striped table-sm">
                                <thead class="st-thead">
                                    <tr>
                                        <th colspan="2" class="text-center">Properties</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="(key, value) in properties">
                                        <td>{{key}}</td>
                                        <td>{{value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- collapsible end -->


                        <!-- not working yet as intended using the table template with nested include -->
                        <!-- <div id="thingproperties" class="collapse">
                            <table class="table table-bordered table-hover st-table table-striped table-sm">
                                <thead class="st-thead">
                                    <tr>
                                        <th colspan="2" class="text-center">Properties</th>
                                    </tr>
                                </thead>
                                <tbody ng-include="$window.dashboardSettings.root + 'views/json-table-template.html'"></tbody>
                            </table>
                        </div> -->


                    </div>
                </div>
                <div class="tab-pane" id="locations">
                    <div class="entityInfo">
                        <span class="entityInfoHeader">Name</span> <br />
                        <pre class="entityInfoInfo">{{locationsList[0]["name"]}}</pre>
                    </div>
                    <div class="entityInfo">
                        <span class="entityInfoHeader">Description</span> <br />
                        <pre class="entityInfoInfo">{{locationsList[0]["description"]}}</pre>
                    </div>
                    <div class="entityInfo pb-3 mb-3 border border-primary border-left-0 border-right-0 border-top-0">
                        <span class="entityInfoHeader">GPS Coordinates</span> <br />
                        <pre ng-show="locationsList[0]['location']['coordinates'][0]" class="entityInfoInfo mb-1">Longitude: {{locationsList[0]["location"]["coordinates"][0]}}</pre>
                        <pre ng-show="locationsList[0]['location']['coordinates'][1]" class="entityInfoInfo mb-1">Latitude: {{locationsList[0]["location"]["coordinates"][1]}}</pre>
                        <pre ng-show="locationsList[0]['location']['coordinates'][2]" class="entityInfoInfo mb-1">Altitude: {{locationsList[0]["location"]["coordinates"][2]}}</pre>
                    </div>


                    <!-- Location Create Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createLocation">Move to new Location</button>
                    <!-- would need select location from list of existing locations, set pin on map, ... -->
                    <!-- also specifiy timestamp -->

                    <!-- Location Patch Modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#patchLocation">Patch Location</button>
                    <div class="modal fade" id="patchLocation" role="dialog">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header p-3 mb-2 bg-primary text-white">
                                    <h2 class="modal-title"><i class="fa fa-globe"></i>PATCH LOCATION</h2>
                                </div>
                                <div class="modal-body">
                                    <div>
                                        <h3 class="modal-title">Location</h3>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Name: </span>
                                            <input class="form-control" type="text" ng-model="patchLocation.name" aria-describedby="locationnamehelpblock" />
                                            <small id="locationnamehelpblock" class="form-text text-muted">Human readable name of the location. </small>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Description: </span>
                                            <input class="form-control" type="text" ng-model="patchLocation.description" aria-describedby="locationdescriptionhelpblock"/>
                                            <small id="locationdescriptionhelpblock" class="form-text text-muted">Human readable description of the location. </small>
                                        </div>
                                        <div class="py-4"></div>

                                        <div class="jumbotron text-warning text-center">
                                            GPS coordinates define locations and thus <span class="font-weight-bold">cannot be patched.</span><br>If you want to change the GPS coordinates of your Thing move it to a new location.
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Longitude: </span>
                                            <input class="form-control" type="text" ng-model="patchLocation.coordinates[0]" aria-describedby="locationlongitudehelpblock" disabled/>
                                            <small id="locationlongitudehelpblock" class="form-text text-muted">GPS Longitude of the Location (~ 6-15 in Germany). </small>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Latitude: </span>
                                            <input class="form-control" type="text" ng-model="patchLocation.coordinates[1]" aria-describedby="locationlatitudehelpblock" disabled/>
                                            <small id="locationlatitudehelpblock" class="form-text text-muted">GPS Latitude of the Location (~ 47-55 in Germany). </small>
                                        </div>
                                        <div class="input-group">
                                            <span class="input-group-addon" >Altitude: </span>
                                            <input class="form-control" type="text" ng-model="patchLocation.coordinates[2]" aria-describedby="locationaltitudehelpblock" disabled/>
                                            <small id="locationaltitudehelpblock" class="form-text text-muted">GPS Altitude of the Location. </small>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer border border-primary border-left-0 border-right-0 border-bottom-0">
                                    <form class="form-inline">
                                        <div class="form-group" id="patchpwcontainer">
                                            <label class="bmd-label-floating" for="patchpw">Input patch password</label>
                                            <input type="password" id="patchpw" class="form-control mx-sm-3">
                                            <small id="patchpwHelpInline"> 
                                                {{pwvalid}}
                                            </small>
                                        </div>
                                    </form>
                                    <input type="submit" class="btn btn-default" ng-click="patchRequest(item.items)" value="Save" />
                                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Patch modal end -->


                </div>
                <div class="tab-pane" id="historicallocations">
                    <table class="table table-bordered table-hover st-table table-striped table-sm">
                        <thead class="st-thead">
                        <tr>
                            <th>Name</th>
                            <th>From</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in historicalLocationsList | orderBy:'-time'">
                            <td>{{x["Locations"][0]["name"]}}</td>
                            <td>{{x["time"] | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane" id="datastreams">
                    <table class="table table-bordered table-hover st-table table-striped table-sm">
                        <thead class="st-thead">
                        <tr>
                    <th ng-click="sortBy('name')"> Name </th>
                            <!--th>Description</th-->
                            <th>Observed Property</th>
                            <!--th>Unit of Measurement</th-->
                            <th>From</th>
                            <th>Until</th>
                            <!--th>Area</th-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="x in datastreamsList | orderBy:propertyName:reverse" ng-click="datastreamClicked(x['@iot.id'])">
                            <td>
                                <span title="{{x['name']}}">{{x["name"]}}</span>
                            </td>
                            <!--td>{{x["description"]}}</td-->
                            <td>{{x['ObservedProperty']['name']}}</td>
                            <!--td>{{x["unitOfMeasurement"]}}</td-->
                            <td>{{x["phenomenonTime"] | limitTo : 24 | date:'yyyy-MM-dd HH:mm:ss'}} </td>
                            <td>{{x["phenomenonTime"] | limitTo : -24 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
                            <!--td>{{x["observedArea"]}}</td-->
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div>
                <h4>Download: </h4>
                Choose a timespan: 
                <input ng-model="selectedDaterange" type="text" id="calendar" class="px-2 mr-4" style="min-width: 300px;"/>
                <exportBtn thingid="id" from="$parent.timeframe.fromISO" to="$parent.timeframe.toISO"></exportBtn>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-md-12">
            <div ng-if="showMap" class="map-container" ng-include="$window.dashboardSettings.root + 'views/map.html'">
            </div>
        </div>
    </div>
</div>
