<div>

    <div class="card mb-4">
        <div class="card-header">
            <h3>
                How to use this Dashboard
            </h3>
        </div>
        <div class="card-body">
            <ul>
                <li>Click the name of a Thing or a Datastream to view its metadata</li>
                <li>Click the checkboxes of any Datastreams and see the information below the table on how to select Observations</li>
                <li>Click the "Quick Download" Button to export all results of the selected Thing in the selected timespan (see timespan selector at the bottom of the page. Default is the last 24hr)</li>
            </ul>
        </div>
    </div>


    <div class="entityInfo pt-3 mt-3 border border-primary border-left-0 border-right-0 border-bottom-0">
        <span class="entityInfoHeader">Total Number of Things in List: </span> <br />
        <pre class="entityInfoInfo" ng-if="dataIsLoaded.things">{{count}}</pre>
        <pre class="entityInfoInfo" ng-if="!dataIsLoaded.things">... loading ...</pre>
        <span class="entityInfoHeader">Select Things Column Display: </span>
        <form>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.things['name']">Name
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.things['description']">Description
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.things['Locations']">Location
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.things['HistoricalLocations']">Historical Locations
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.things['@iot.id']">@iot.id
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.things['Datastreams']">Datastreams
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" ng-model="selectparams.things['properties']">Properties
            </label>
        </form>
        <span class="entityInfoHeader">Top parameter: </span>
        <form class="form-inline">
            <div class="form-group" style="padding-top: 0">
                <input type="text" class="form-control text-center" ng-model="$parent.newTop" style="width: 60px">
            </div>
            <div class="form-group mb-2" style="padding-top: 0">
                <input type="text" readonly class="form-control-plaintext" value="Items per Page">
            </div>
            <button type="button" class="btn btn-outline-primary" ng-click="updatequery('things')">Refresh Table</button>
        </form>
    </div>
    <div class="pt-3 mt-3 border border-primary border-left-0 border-right-0 border-bottom-0"></div>

    <!-- Table Start -->
    <table class="table table-bordered table-hover st-table table-striped table-sm">
        <thead class="st-thead">
        <tr>
            <th ng-if="selectparams.things['name']">Name</th>
            <th ng-if="selectparams.things['description']">Description</th>
            <th ng-if="selectparams.things['Locations']">Location</th>
            <th ng-if="selectparams.things['HistoricalLocations']">Historical Locations</th>
            <th ng-if="selectparams.things['@iot.id']">@iot.id</th>
            <th ng-if="selectparams.things['Datastreams']">Datastreams</th>
            <th ng-if="selectparams.things['properties']">Properties</th>
            <th>Export</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in dataList" >
            <!-- Name Description Location -->
            <td ng-if="selectparams.things['name']" ng-click="linkClicked('thing',x['@iot.id'])">{{x["name"]}}</td>
            <td ng-if="selectparams.things['description']" ng-click="linkClicked('thing',x['@iot.id'])">{{x["description"]}}</td>
            <td ng-if="selectparams.things['Locations']" ng-click="linkClicked('thing',x['@iot.id'])">{{x["Locations"][0]["name"]}}</td>
            <!-- Name Description Location end -->
            
            <!-- Historical Locations -->
            <td ng-if="selectparams.things['HistoricalLocations']" ng-click="linkClicked('thing',x['@iot.id'])">
                <table class="table table-bordered table-hover table-primary st-table table-striped table-sm">
                    <thead class="st-thead">
                        <tr class="table-primary">
                            <th>Time</th>
                            <th>@iot.id</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="y in x['HistoricalLocations']">
                        <td>{{y["time"]}}</td>
                        <td>{{y["@iot.id"]}}</td>
                    </tr>
                    </tbody>
                </table>
            </td>
            <!-- Historical Locations End-->
            
            <!-- Thing id -->
            <td ng-if="selectparams.things['@iot.id']" ng-click="linkClicked('thing',x['@iot.id'])">{{x["@iot.id"]}}</td>
            <!-- Thing id end -->

            <!-- Datastreams -->
            <td ng-if="selectparams.things['Datastreams']">
                <table class="table table-bordered table-hover table-primary st-table table-striped table-sm">
                    <thead class="st-thead">
                        <tr class="table-primary">
                            <th>Name</th>
                            <th>@iot.id</th>
                            <th>Export</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="y in x['Datastreams']">
                            <td ng-click="linkClicked('datastream',y['@iot.id'])">{{y["name"]}}</td>
                            <td ng-click="linkClicked('datastream',y['@iot.id'])">{{y["@iot.id"]}}</td>
                            <td ng-click="$parent.selectedDatastreams[y['@iot.id']] = !$parent.selectedDatastreams[y['@iot.id']]" style="text-align: center; vertical-align: middle;">
                                <input type="checkbox" ng-model="$parent.selectedDatastreams[y['@iot.id']]" ng-click="$parent.selectedDatastreams[y['@iot.id']] = !$parent.selectedDatastreams[y['@iot.id']]">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
            <!-- Datastreams end -->
            
            <!-- Properties and Export -->
            <td ng-if="selectparams.things['properties']" ng-click="linkClicked('thing',x['@iot.id'])">{{x["properties"]}}</td>
            <td style="text-align: center; vertical-align: middle;">
                <div class="export-cell">
                    <exportBtn thingid="x['@iot.id']" from="$parent.timeframe.fromISO" to="$parent.timeframe.toISO" ng-click="$parent.selectedDatastreams={};checkMyDs={}"></exportBtn>
                </div>
            </td>
            <!-- Properties and Export end -->
        </tr>
        </tbody>
    </table>
    <!-- Table end -->

    <div id="loading-screen-wrapper" ng-if="!dataIsLoaded.things">
        <div id="loading-screen" >
                <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
            LOADING...
        </div>
    </div>
    <div class="input-group">
        <button type="button" class="btn btn-primary" ng-click="followPreviousLink()" ng-disabled="!thisLinkSkip" style="margin-left: auto">&laquo; Previous Page</button>
        <button ng-if="dataIsLoaded.things" class="btn btn-secondary" disabled>Page {{currentpage}} of {{maxpages}}</button>
        <button type="button" class="btn btn-primary" ng-click="followNextLink()" ng-disabled="!nextLinkSkip" style="margin-right: auto">Next Page &raquo;</button>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="newThing" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">*</button>
                    <h4 class="modal-title"><i class="fa fa-cube"></i> NEW THING</h4>
                </div>
                <div class="modal-body">
                    <div class="input-group">
                        <span class="input-group-addon" >name</span>
                        <input type="text" ng-model="newThing.name" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" >description</span>
                        <input type="text" ng-model="newThing.description" />
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon" >properties</span>
                        <input type="text" ng-model="newThing.properties" /><br />
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" ng-click="addNewThing(newThing)" value="Save" />
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Close" />
                </div>
            </div>
        </div>
    </div>


    <div class="pt-3 mt-3 border border-primary border-left-0 border-right-0 border-bottom-0"></div>

    <div class="card">
        <div class="card-header">
            <h3>
                How to customize a table of Observations for downloading
            </h3>
        </div>
        <div class="card-body">
            <ul>

                <li>Select a number of Things or Datastreams by clicking the checkbox in the respective "Export" column</li>
                <!-- <li>Alternatively draw a polygon on the map to select all Things in an area (not implemented yet)</li> -->
                <li>Select a timespan from the calendar (default is the past 24 hours)</li>
                <li>Then click one of the buttons below to show or export the Observations </li>
            </ul>

            <h5>Observations Query Parameters</h5>
        <div class="jumbotron">
            /Observations{{observationsQuery}}
        </div>
        <div style="margin-left: auto; margin-right: auto;">
            Choose a timespan: 
            <input ng-model="selectedDaterange" type="text" id="calendar" class="px-2" style="min-width: 300px;"/>
        </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6">
                    <a type="button" class="btn btn-outline-primary btn-block" href="#/observations{{observationsQuery}}">Show Selected Observations</a>
                </div>
                <div class="col-6">
                    <button type="button" class="btn btn-outline-primary btn-block" ng-click="showObservations()" disabled>Export Selection</button>
                </div>
            </div>
        </div>
    </div>

</div>
